# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
#node_modules/*
#!node_modules/__buttercup

.DS_Store
.history

source/test.js
