# git files and directories
.git
.gitignore

# our development node_modules - these will be installed by users through npm
node_modules

# this contains test information, not needed for a user
build
.babelrc

# our unit tests
test
tests
coverage

# codeclimate configuration
.codeclimate.yml

# eslint configuration
.eslintignore
.eslintrc

# travis configuration
.travis.yml
